<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silky.pocketbook.mapper.KindMapper">
  <resultMap id="BaseResultMap" type="com.silky.pocketbook.POJO.Kind">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kind" jdbcType="VARCHAR" property="kind" />
  </resultMap>
  <sql id="Base_Column_List">
    id, kind
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kind
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from kind
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.silky.pocketbook.POJO.Kind" useGeneratedKeys="true">
    insert into kind (kind)
    values (#{kind,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.silky.pocketbook.POJO.Kind" useGeneratedKeys="true">
    insert into kind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kind != null">
        kind,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kind != null">
        #{kind,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.silky.pocketbook.POJO.Kind">
    update kind
    <set>
      <if test="kind != null">
        kind = #{kind,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.silky.pocketbook.POJO.Kind">
    update kind
    set kind = #{kind,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>